<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xc.dao.VoiceDao">
	<!--根据搜索条件查询-->
	<select id="search" resultType="com.xc.entity.Voice">
		SELECT id,title,image,level,author,boyin,count,synopsis,create_date,status
		FROM voice
		<where>
			<if test="searchOper=='eq'">
				${searchField} = #{searchString}
			</if>
			<if test="searchOper=='ne'">
				${searchField} != #{searchString}
			</if>
			<if test="searchOper=='cn'">
				${searchField} like concat('%',#{searchString},'%')
			</if>
		</where>
		limit #{begin},#{rows}
	</select>

	<!--查询数量-->
	<select id="countSearch" resultType="Integer">
		SELECT count(id)
		FROM voice
		<where>
			<if test="searchOper=='eq'">
				${searchField} = #{searchString}
			</if>
			<if test="searchOper=='ne'">
				${searchField} != #{searchString}
			</if>
			<if test="searchOper=='cn'">
				${searchField} like concat('%',#{searchString},'%')
			</if>
		</where>
	</select>
	<!--随机查询6个-->
	<select id="searchSix" resultType="com.xc.entity.Voice">
		select * from voice order by rand() limit 6
	</select>
</mapper>